$primary-font: "Inter", sans-serif;
$secondary-font: "Playfair Display", serif;
$third-font: "Mulish", sans-serif;
$gray-color: #b8becb;
$gray-dark-color: #afb0b9;
$gray-darker-color: #7d7987;
$gray-darkest-color: #202336;
$primary-color: #fb8f1d;
